/* 
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

/* 
    GENERAL
*/


body {
    height: 100vh;
    background: rgb(241,9,9);
    background: linear-gradient(180deg, rgba(241,9,9,1) 18%, rgba(38,37,37,1) 36%);
}

main {
    display: flex;
   
}

/*
MAIN
*/
.main

.contacts {
    width: 30%;
    background-color: rgb(241,9,9);
    border-right: 1px solid black;
}

.user {
    padding: 20px;
    background-color: white;
    display: flex;
    align-items: center;
}

.search {
    padding: 10px 20px;
}

.search input {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
}

.contacts-list {
    overflow-y: auto;
    height: calc(100vh - 150px);
    background-color: rgb(241,9,9);
}

.users {
    padding: 15px 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.chat {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.chat-header {
    padding: 20px;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
}

.chat-messages {
    flex-grow: 1;
    padding: 20px;
    background-color: #e5ddd5;
    overflow-y: auto;
}

.message {
    max-width: 60%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    position: relative;
}

.chat-input {
    display: flex;
    padding: 10px;
    background-color: #ffffff;
    border-top: 1px solid #e0e0e0;
}

.chat-input input {
    flex-grow: 1;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #e0e0e0;
    margin-right: 10px;
}
